@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: #000;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container .box {
  position: relative;
  width: 350px;
  width: 350px;
  padding: 40px;
  background: #111;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.container .box:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.1);
  z-index: 2;
  pointer-events: none;
}

.container .box .icon {
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
}

.container .box:nth-child(1) .icon {
  box-shadow: 0 0 0 0 #e91e63;
  background: #e91e63;
}

.container .box:nth-child(1):hover .icon {
  box-shadow: 0 0 0 400px #e91e63;
}

.container .box:nth-child(2) .icon {
  box-shadow: 0 0 0 0 #f14703;
  background: #f14703;
}

.container .box:nth-child(2):hover .icon {
  box-shadow: 0 0 0 400px #f14703;
}

.container .box:nth-child(3) .icon {
  box-shadow: 0 0 0 0 #7159c1;
  background: #7159c1;
}

.container .box:nth-child(3):hover .icon {
  box-shadow: 0 0 0 400px #7159c1;
}

.container .box .content {
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

.container .box .content {
  color: #c6c6c6;
}

.container .box .content h3 {
  font-size: 20px;
  margin: 10px 0;
  padding: 0;
}

.container .box .content p {
  margin: 0;
  padding: 0;
}

.container .box:hover .content {
  color: #111;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background: #c6c6c6;
  text-decoration: none;
  color: #111;
  font-weight: 500;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

a:hover {
  font-weight: 700;
}
